<?xml version="1.0" ?>
<robot name="IsfrFullRobot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="turtlebot3_waffle.urdf"/>
  <xacro:include filename="open_manipulator_x.urdf"/>

  <joint name="arm_base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="arm_base_link"/>
    <origin xyz="0 0 0.12" rpy="0 0 0"/>
  </joint>
</robot>
