<?xml version="1.0"?>
<robot name="IsfrFullRobot">

  <!-- ================= WEBOTS EXTENSIONS ================= -->
  <webots>
    <!-- Lidar -->
    <device reference="lidar_sensor" type="Lidar">
      <ros>
        <enabled>true</enabled>
        <updateRate>5</updateRate>
        <topicName>/scan</topicName>
        <alwaysOn>true</alwaysOn>
        <frameName>lidar_sensor</frameName>
      </ros>
    </device>

    <device reference="camera_sensor" type="Camera">
      <ros>
        <enabled>true</enabled>
        <updateRate>30</updateRate>
        <topicName>/isfr/camera_sensor/image_raw</topicName>
        <alwaysOn>true</alwaysOn>
        <frameName>camera_link</frameName>
      </ros>
    </device>

    <!-- IMU -->
    <plugin type="webots_ros2_driver::Ros2IMU">
      <enabled>true</enabled>
      <updateRate>20</updateRate>
      <topicName>/imu</topicName>
      <alwaysOn>true</alwaysOn>
      <frameName>imu_link</frameName>
      <inertialUnitName>imu_sensor</inertialUnitName>
      <gyroName>gyro_sensor</gyroName>
      <accelerometerName>accelerometer_sensor</accelerometerName>
    </plugin>

    <!-- ROS2 Control plugin -->
    <plugin type="webots_ros2_control::Ros2Control"/>
    <!-- <plugin type="isfr_bot_webots.ground_truth_odom_publisher.GroundTruthOdomPublisher">
      <robotDef>WAFFLE</robotDef>
    </plugin> -->
  </webots>

  <!-- ================= ROS2 CONTROL ================= -->
  <ros2_control name="WebotsControl" type="system">
    <hardware>
      <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
    </hardware>
    <joint name="leftwheel_motor">
      <state_interface name="position"/>
      <command_interface name="velocity"/>
    </joint>
    <joint name="rightwheel_motor">
      <state_interface name="position"/>
      <command_interface name="velocity"/>
    </joint>
  </ros2_control>

</robot>
